@(dateRange:String)
@index{
<!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Dashboard
            <small>Version 2.0</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
         
           <!-- Main row -->
          <div class="row">
            <div class=" col-lg-7 form-group">
            <form>
              
            <p>Status compra: PAGO</p>
                <label>Date range:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" id="dateRange" name="dateRange" value="@dateRange" class="form-control pull-right active"   id="reservation">
                </div><!-- /.input group -->
                <button type="submit"> Filtrar dados</button>
            </form>

            </div>

            <!-- Left col -->
            <section class="col-lg-7 connectedSortable">
              <div class="box box-default">
                  <div class="box-header with-border">
                    <h3 class="box-title">Quantidade de vendas por Tamanho</h3>
                    <div class="box-tools pull-right">
                      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                  </div><!-- /.box-header -->
                  <div class="box-body">
                    <div class="row">
                      <div class="col-md-8">
                        <div class="chart-responsive">
                          <canvas id="camisasPorTamanhoPieChart" height="150"></canvas>
                        </div><!-- ./chart-responsive -->
                      </div><!-- /.col -->
                      <div class="col-md-4">
                        <!-- <ul class="chart-legend clearfix">
                          <li><i class="fa fa-circle-o text-red"></i> Chrome</li>
                          <li><i class="fa fa-circle-o text-green"></i> IE</li>
                          <li><i class="fa fa-circle-o text-yellow"></i> FireFox</li>
                          <li><i class="fa fa-circle-o text-aqua"></i> Safari</li>
                          <li><i class="fa fa-circle-o text-light-blue"></i> Opera</li>
                          <li><i class="fa fa-circle-o text-gray"></i> Navigator</li>
                        </ul> -->
                      </div><!-- /.col -->
                    </div><!-- /.row -->
                  </div><!-- /.box-body -->
                 <!--  <div class="box-footer no-padding">
                    <ul class="nav nav-pills nav-stacked">
                      <li><a href="#">United States of America <span class="pull-right text-red"><i class="fa fa-angle-down"></i> 12%</span></a></li>
                      <li><a href="#">India <span class="pull-right text-green"><i class="fa fa-angle-up"></i> 4%</span></a></li>
                      <li><a href="#">China <span class="pull-right text-yellow"><i class="fa fa-angle-left"></i> 0%</span></a></li>
                    </ul>
                  </div><!-- /.footer -->
              </div><!-- /.box -->
              <div class="box box-default">
                  <div class="box-header with-border">
                    <h3 class="box-title">Quantidade de vendas por Modelo</h3>
                    <div class="box-tools pull-right">
                      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                  </div><!-- /.box-header -->
                  <div class="box-body">
                    <div class="row">
                      <div class="col-md-8">
                        <div class="chart-responsive">
                          <canvas id="camisasPorTipoPieChart" height="150"></canvas>
                        </div><!-- ./chart-responsive -->
                      </div><!-- /.col -->
                      <div class="col-md-4">
                        <!-- <ul class="chart-legend clearfix">
                          <li><i class="fa fa-circle-o text-red"></i> Chrome</li>
                          <li><i class="fa fa-circle-o text-green"></i> IE</li>
                          <li><i class="fa fa-circle-o text-yellow"></i> FireFox</li>
                          <li><i class="fa fa-circle-o text-aqua"></i> Safari</li>
                          <li><i class="fa fa-circle-o text-light-blue"></i> Opera</li>
                          <li><i class="fa fa-circle-o text-gray"></i> Navigator</li>
                        </ul> -->
                      </div><!-- /.col -->
                    </div><!-- /.row -->
                  </div><!-- /.box-body -->
                 <!--  <div class="box-footer no-padding">
                    <ul class="nav nav-pills nav-stacked">
                      <li><a href="#">United States of America <span class="pull-right text-red"><i class="fa fa-angle-down"></i> 12%</span></a></li>
                      <li><a href="#">India <span class="pull-right text-green"><i class="fa fa-angle-up"></i> 4%</span></a></li>
                      <li><a href="#">China <span class="pull-right text-yellow"><i class="fa fa-angle-left"></i> 0%</span></a></li>
                    </ul>
                  </div><!-- /.footer --> 
              </div><!-- /.box -->
               <div class="box box-default">
                  <div class="box-header with-border">
                    <h3 class="box-title">Quantidade de vendas por Genero</h3>
                    <div class="box-tools pull-right">
                      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                  </div><!-- /.box-header -->
                  <div class="box-body">
                    <div class="row">
                      <div class="col-md-8">
                        <div class="chart-responsive">
                          <canvas id="camisasPorGeneroPieChart" height="150"></canvas>
                        </div><!-- ./chart-responsive -->
                      </div><!-- /.col -->
                      <div class="col-md-4">
                        <!-- <ul class="chart-legend clearfix">
                          <li><i class="fa fa-circle-o text-red"></i> Chrome</li>
                          <li><i class="fa fa-circle-o text-green"></i> IE</li>
                          <li><i class="fa fa-circle-o text-yellow"></i> FireFox</li>
                          <li><i class="fa fa-circle-o text-aqua"></i> Safari</li>
                          <li><i class="fa fa-circle-o text-light-blue"></i> Opera</li>
                          <li><i class="fa fa-circle-o text-gray"></i> Navigator</li>
                        </ul> -->
                      </div><!-- /.col -->
                    </div><!-- /.row -->
                  </div><!-- /.box-body -->
                 <!--  <div class="box-footer no-padding">
                    <ul class="nav nav-pills nav-stacked">
                      <li><a href="#">United States of America <span class="pull-right text-red"><i class="fa fa-angle-down"></i> 12%</span></a></li>
                      <li><a href="#">India <span class="pull-right text-green"><i class="fa fa-angle-up"></i> 4%</span></a></li>
                      <li><a href="#">China <span class="pull-right text-yellow"><i class="fa fa-angle-left"></i> 0%</span></a></li>
                    </ul>
                  </div><!-- /.footer -->
              </div><!-- /.box -->
             
            </section><!-- /.Left col -->
            <!-- right col (We are only adding the ID to make the widgets sortable)-->
            <section class="col-lg-5 connectedSortable">

             
              <!-- solid sales graph -->
              <div class="box box-solid bg-teal-gradient">
                <div class="box-header">
                  <i class="fa fa-th"></i>
                  <h3 class="box-title">Entrada de produtos</h3>
                  <div class="box-tools pull-right">
                    <button class="btn bg-teal btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn bg-teal btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div>
                <div class="box-body border-radius-none">
                  <div class="chart" id="line-chart-entrada" style="height: 250px;"></div>
                </div><!-- /.box-body -->
                <div class="box-footer no-border" style="display: none">
                  <div class="row">
                    <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                      <input type="text" class="knob" data-readonly="true" value="20" data-width="60" data-height="60" data-fgColor="#39CCCC"/>
                      <div class="knob-label">Mail-Orders</div>
                    </div><!-- ./col -->
                    <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                      <input type="text" class="knob" data-readonly="true" value="50" data-width="60" data-height="60" data-fgColor="#39CCCC"/>
                      <div class="knob-label">Online</div>
                    </div><!-- ./col -->
                    <div class="col-xs-4 text-center">
                      <input type="text" class="knob" data-readonly="true" value="30" data-width="60" data-height="60" data-fgColor="#39CCCC"/>
                      <div class="knob-label">In-Store</div>
                    </div><!-- ./col -->
                  </div><!-- /.row -->
                </div><!-- /.box-footer -->
              </div><!-- /.box -->
               <!-- solid sales graph -->
              <div class="box box-solid bg-teal-gradient">
                <div class="box-header">
                  <i class="fa fa-th"></i>
                  <h3 class="box-title">Saida de produtos</h3>
                  <div class="box-tools pull-right">
                    <button class="btn bg-teal btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn bg-teal btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div>
                <div class="box-body border-radius-none">
                  <div class="chart" id="line-chart-saida" style="height: 250px;"></div>
                </div><!-- /.box-body -->
                <div class="box-footer no-border" style="display: none">
                  <div class="row">
                    <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                      <input type="text" class="knob" data-readonly="true" value="20" data-width="60" data-height="60" data-fgColor="#39CCCC"/>
                      <div class="knob-label">Mail-Orders</div>
                    </div><!-- ./col -->
                    <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                      <input type="text" class="knob" data-readonly="true" value="50" data-width="60" data-height="60" data-fgColor="#39CCCC"/>
                      <div class="knob-label">Online</div>
                    </div><!-- ./col -->
                    <div class="col-xs-4 text-center">
                      <input type="text" class="knob" data-readonly="true" value="30" data-width="60" data-height="60" data-fgColor="#39CCCC"/>
                      <div class="knob-label">In-Store</div>
                    </div><!-- ./col -->
                  </div><!-- /.row -->
                </div><!-- /.box-footer -->
              </div><!-- /.box -->
              
              <div class="nav-tabs-custom">
                <!-- Tabs within a box -->
                <ul class="nav nav-tabs pull-right">
                  <li class="active"><a href="#usuarios-chart" data-toggle="tab">Area</a></li>
                  <li><a href="#usuarios-donut" data-toggle="tab">Mode de entrada</a></li>
                  <li><a href="#usuarios-gender" data-toggle="tab">Genero</a></li>
                  <li class="pull-left header"><i class="fa fa-inbox"></i> Usuarios Cadastrados</li>
                </ul>
                <div class="tab-content no-padding">
                  <!-- Morris chart - Sales -->
                  <div class="chart tab-pane active" id="usuarios-chart" style="position: relative; height: 300px;"></div>
                  <div class="chart tab-pane" id="usuarios-donut" style="position: relative; height: 300px;"></div>
                  <div class="chart tab-pane" id="usuarios-gender" style="position: relative; height: 300px;"></div>
                </div>
              </div><!-- /.nav-tabs-custom -->

              

            </section><!-- right col -->
            <section class="col-lg-12 connectedSortable">
              <div class="nav-tabs-custom">
                <!-- Tabs within a box -->
                <ul class="nav nav-tabs pull-right">
                  <li class="active"><a href="#usuario_acumulado-chart" data-toggle="tab">Area</a></li>
                  <li class="pull-left header"><i class="fa fa-inbox"></i> Usuarios Cadastrados acumulado por dia</li>
                </ul>
                <div class="tab-content no-padding">
                  <!-- Morris chart - Sales -->
                  <div class="chart tab-pane active" id="usuario_acumulado-chart" style="position: relative; height: 300px;"></div>
                
                </div>
              </div><!-- /.nav-tabs-custom -->
             <!-- solid sales graph -->
              <div class="box box-solid bg-teal-gradient">
                <div class="box-header">
                  <i class="fa fa-th"></i>
                  <h3 class="box-title">Vendas Por productos</h3>
                  <div class="box-tools pull-right">
                    <button class="btn bg-teal btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn bg-teal btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div>
                <div class="box-body border-radius-none">
                  <div class="chart" id="line-chart-vendas" style="height: 250px;"></div>
                </div><!-- /.box-body -->
                <div class="box-footer no-border" style="display: none">
                  <div class="row">
                    <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                      <input type="text" class="knob" data-readonly="true" value="20" data-width="60" data-height="60" data-fgColor="#39CCCC"/>
                      <div class="knob-label">Mail-Orders</div>
                    </div><!-- ./col -->
                    <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                      <input type="text" class="knob" data-readonly="true" value="50" data-width="60" data-height="60" data-fgColor="#39CCCC"/>
                      <div class="knob-label">Online</div>
                    </div><!-- ./col -->
                    <div class="col-xs-4 text-center">
                      <input type="text" class="knob" data-readonly="true" value="30" data-width="60" data-height="60" data-fgColor="#39CCCC"/>
                      <div class="knob-label">In-Store</div>
                    </div><!-- ./col -->
                  </div><!-- /.row -->
                </div><!-- /.box-footer -->
              </div><!-- /.box -->
              <!-- solid sales graph -->
              <div class="box box-solid bg-teal-gradient">
                <div class="box-header">
                  <i class="fa fa-th"></i>
                  <h3 class="box-title">Faturamento Por dia</h3>
                  <div class="box-tools pull-right">
                    <button class="btn bg-teal btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn bg-teal btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div>
                <div class="box-body border-radius-none">
                  <div class="chart" id="line-chart-faturamento" style="height: 250px;"></div>
                </div><!-- /.box-body -->
                <div class="box-footer no-border" style="display: none">
                  <div class="row">
                    <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                      <input type="text" class="knob" data-readonly="true" value="20" data-width="60" data-height="60" data-fgColor="#39CCCC"/>
                      <div class="knob-label">Mail-Orders</div>
                    </div><!-- ./col -->
                    <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                      <input type="text" class="knob" data-readonly="true" value="50" data-width="60" data-height="60" data-fgColor="#39CCCC"/>
                      <div class="knob-label">Online</div>
                    </div><!-- ./col -->
                    <div class="col-xs-4 text-center">
                      <input type="text" class="knob" data-readonly="true" value="30" data-width="60" data-height="60" data-fgColor="#39CCCC"/>
                      <div class="knob-label">In-Store</div>
                    </div><!-- ./col -->
                  </div><!-- /.row -->
                </div><!-- /.box-footer -->
              </div><!-- /.box -->
              <div class="nav-tabs-custom">
                <!-- Tabs within a box -->
                <ul class="nav nav-tabs pull-right">
                  <li class="active"><a href="#faturamento-chart" data-toggle="tab">Area</a></li>
                  <li class="pull-left header"><i class="fa fa-inbox"></i> Faturamento acumulado por dia</li>
                </ul>
                <div class="tab-content no-padding">
                  <!-- Morris chart - Sales -->
                  <div class="chart tab-pane active" id="faturamento-chart" style="position: relative; height: 300px;"></div>
                
                </div>
              </div><!-- /.nav-tabs-custom -->

               

            </section><!-- unique col -->


          </div><!-- /.row (main row) -->
          
        </section><!-- /.content -->
<!-- jQuery 2.1.4 -->
<script src="@routes.Assets.at("plugins/jQuery/jQuery-2.1.4.min.js")"></script>

<script type="text/javascript">
function hoverCallback (index, options, content, row) {
  var date = new Date(row[Object.keys(row)[0]].replace( /(\d{4})-(\d{2})-(\d{2})/, "$2/$3/$1"))
  return date.format("dd/mm/yyyy") +" = "+ Object.keys(row)[1]+" - " + row[Object.keys(row)[1]] ;
  // return   row[Object.keys(row)[1]] ;

};
function hoverCallbackMoney (index, options, content, row) {
  var date = new Date(row[Object.keys(row)[0]].replace( /(\d{4})-(\d{2})-(\d{2})/, "$2/$3/$1"))
  return date.format("dd/mm/yyyy") +" = "+ Object.keys(row)[1]+" - R$" + Math.round(row[Object.keys(row)[1]] *100)/100 ;
  // return   row[Object.keys(row)[1]] ;

};
function hoverCallbackProduct (index, options, content, row) {
  var date = new Date(row[Object.keys(row)[0]].replace( /(\d{4})-(\d{2})-(\d{2})/, "$2/$3/$1"))
  return date.format("dd/mm/yyyy") +" / "+ Object.keys(row)[1]+" = " + row[Object.keys(row)[1]] ;
  // return   row[Object.keys(row)[1]] ;

};
     $(document).ready(function() {
        $("li" ).removeClass("active");
        $("#li-charts" ).addClass("active");
        

        //Date range picker
        $('#dateRange').daterangepicker({
          timePicker: false,
          timePickerIncrement: 30,
          format: 'DD/MM/YYYY'
        });


        var color = ["#f56954", "#00a65a", "#f39c12", "#00c0ef", "#3c8dbc", "#d2d6de"];
        // Usuarios acumulado chart
        // var area = new Morris.Area();
        var option_usuarios_acumulado = {
            element: 'usuario_acumulado-chart',
            resize: true,
            data: [
            ],
            xkey: 'y',
            ykeys: ['total'],
            labels: ['Total' ],
            lineColors: ['#a0d0e0'],
            hideHover: 'auto'
          };
          $.ajax({
              method:'GET',
              url: "@routes.Dashboard.getUsuariosGrowTotal()?dateRange=@dateRange",
              data:{},
          }).success(function(response) {
            var data = [];
            JSON.parse(response).forEach(function(elem,index){
                var obj = {};
                obj.y = elem.year+'-'+elem.month+'-'+elem.day ;
                obj.total = elem.total;
                data.push(obj);
            });
            option_usuarios_acumulado.data = data;

            var line = new Morris.Area(option_usuarios_acumulado);

          }).error(function() {
              alert("Erro on update!")
          });

        // Faturamento acumulado chart
        // var area = new Morris.Area();
        var option_faturamento = {
            element: 'faturamento-chart',
            resize: true,
            data: [
            ],
            xkey: 'y',
            ykeys: ['total'],
            labels: ['Total' ],
            lineColors: ['#a0d0e0'],
            hideHover: 'auto',
            hoverCallback: hoverCallbackMoney

          };
          $.ajax({
              method:'GET',
              url: "@routes.Dashboard.getFaturamento()?dateRange=@dateRange",
              data:{},
          }).success(function(response) {
            var data = [];
            JSON.parse(response).forEach(function(elem,index){
                var obj = {};
                obj.y = elem.year+'-'+elem.month+'-'+elem.day ;
                obj.total = elem.total;
                data.push(obj);
            });
            option_faturamento.data = data;

            var line = new Morris.Area(option_faturamento);

          }).error(function() {
              alert("Erro on update!")
          });


        // Users chart
                  //Donut Chart
          var options_user_donut = {
            element: 'usuarios-donut',
            resize: true,
            colors: [],
            data: [
            ],
            hideHover: 'auto'
          };
          $.ajax({
              method:'GET',
              url: "@routes.Dashboard.getUsuariosType()?dateRange=@dateRange",
              data:{},
          }).success(function(response) {
            var data = [];
            var colors = [];
            JSON.parse(response).result.forEach(function(elem,index){
                colors.push(color[index%6]);
                var obj = {};
                obj.label = elem._id;
                obj.value = elem.quantity;
                data.push(obj);
            });
            options_user_donut.data = data;
            options_user_donut.colors = colors;
            var donut = new Morris.Donut(options_user_donut);

          }).error(function() {
              alert("Erro on update!")
          });


          var options_user_gender = {
            element: 'usuarios-gender',
            resize: true,
            colors: [],
            data: [
            ],
            hideHover: 'auto'
          };
          $.ajax({
              method:'GET',
              url: "@routes.Dashboard.getUsuariosGender()?dateRange=@dateRange",
              data:{},
          }).success(function(response) {
            var data = [];
            var colors = [];
            JSON.parse(response).result.forEach(function(elem,index){
                colors.push(color[index%6]);
                var obj = {};
                obj.label = elem._id;
                obj.value = elem.quantity;
                data.push(obj);
            });
            options_user_gender.data = data;
            options_user_gender.colors = colors;
            var donut = new Morris.Donut(options_user_gender);

          }).error(function() {
              alert("Erro on update!")
          });

        // var area = new Morris.Area();

          var option_user = {
            element: 'usuarios-chart',
            resize: true,
            data: [
            ],
            xkey: 'y',
            ykeys: ['quantidade'],
            labels: ['Quantidade' ],
            lineColors: ['#a0d0e0'],
            hideHover: 'auto'
          };


          $.ajax({
              method:'GET',
              url: "@routes.Dashboard.getUsuariosGrow()?dateRange=@dateRange",
              data:{},
          }).success(function(response) {
            var data = [];
            JSON.parse(response).result.forEach(function(elem,index){
                var obj = {};
                obj.y = elem._id.year+'-'+elem._id.month+'-'+elem._id.day ;
                obj.quantidade = elem.quantity;
                data.push(obj);
            });
            option_user.data = data;

            var line = new Morris.Area(option_user);

          }).error(function() {
              alert("Erro on update!")
          });

        //-------------
        //- Line CHART -
        //-------------
        var options_entrada = {
            element: 'line-chart-entrada',
            resize: true,
            data: [
            ],
            xkey: 'y',
            
            lineWidth: 2,
            hideHover: 'auto',
            hoverCallback: 'auto',
            gridTextColor: "#fff",
            gridStrokeWidth: 0.4,
            pointSize: 4,
            gridLineColor: "#efefef",
            gridTextFamily: "Open Sans",
            gridTextSize: 10
          };
        $.ajax({
            method:'GET',
            url: "@routes.Dashboard.getEntryProducts()?dateRange=@dateRange",
            data:{},
        }).success(function(response) {
          var data = [];
          var  ykeys = [];
          var labels =  [];
          var lineColors =  [];
          var count = 0;
          var pointStrokeColors = [];
          var uniqueSku = {};
          for(var date in response){
            for(var line in response[date]){
              var lineName = line.split(' ')[0];
              uniqueSku[lineName] = true;
            }
          }
          for(var sku in uniqueSku){
            ykeys.push(sku);
            labels.push(sku);
            lineColors.push(color[count%6]);
            pointStrokeColors.push(color[count%6]);
            count = count+1;
          }

          for(var date in response){
            var obj = {};
            obj.y = date ;
            for(var line in response[date]){
              var lineName = line.split(' ')[0];
              obj[lineName] = response[date][line] ;
            }
            ykeys.forEach(function(lineName_){
              if(!obj[lineName_])
                obj[lineName_] = 0 ;
            });
            data.push(obj);
          }
          options_entrada.data = data;
          options_entrada.labels = labels;
          options_entrada.ykeys = ykeys;
          options_entrada.lineColors = lineColors;
          options_entrada.pointStrokeColors = pointStrokeColors;

          var line = new Morris.Line(options_entrada);

        }).error(function() {
            alert("Erro on update!")
        });
      

         //-------------
        //- END Line CHART -
        //-------------


        //-------------
        //- Line CHART -
        //-------------
        var options_saida = {
            element: 'line-chart-saida',
            resize: true,
            data: [
            ],
            xkey: 'y',
           
            lineWidth: 2,
            hideHover: 'auto',
            hoverCallback: 'auto',
            gridTextColor: "#fff",
            gridStrokeWidth: 0.4,
            pointSize: 4,
            gridLineColor: "#efefef",
            gridTextFamily: "Open Sans",
            gridTextSize: 10
          };
        $.ajax({
            method:'GET',
            url: "@routes.Dashboard.getLeaveProducts()?dateRange=@dateRange",
            data:{},
        }).success(function(response) {
          var data = [];
          var  ykeys = [];
          var labels =  [];
          var lineColors =  [];
          var count = 0;
          var pointStrokeColors = [];
          var uniqueSku = {};
          for(var date in response){
            for(var line in response[date]){
              var lineName = line.split(' ')[0];
              uniqueSku[lineName] = true;
            }
          }
          for(var sku in uniqueSku){
            ykeys.push(sku);
            labels.push(sku);
            lineColors.push(color[count%6]);
            pointStrokeColors.push(color[count%6]);
            count = count+1;
          }

          for(var date in response){
            var obj = {};
            obj.y = date ;
            for(var line in response[date]){
              var lineName = line.split(' ')[0];
              obj[lineName] = response[date][line] ;
            }
            ykeys.forEach(function(lineName_){
              if(!obj[lineName_])
                obj[lineName_] = 0 ;
            });
            data.push(obj);
          }
          options_saida.data = data;
          options_saida.labels = labels;
          options_saida.ykeys = ykeys;
          options_saida.lineColors = lineColors;
          options_saida.pointStrokeColors = pointStrokeColors;

          var line = new Morris.Line(options_saida);

        }).error(function() {
            alert("Erro on update!")
        });
      

         //-------------
        //- END Line CHART -
        //-------------

         //-------------
        //- Line CHART -
        //-------------
        var options = {
            element: 'line-chart-vendas',
            resize: true,
            xLabels:'day',
            data: [
            ],
            xkey: 'y',
            ykeys: ['quantidade' ],
            labels: ['Quantidade'],
            lineColors: ['#efefef'],
            lineWidth: 2,
            hideHover: 'auto',
            hoverCallback: hoverCallback,
            gridTextColor: "#fff",
            gridStrokeWidth: 0.4,
            pointSize: 4,
            pointStrokeColors: ["#efefef"],
            gridLineColor: "#efefef",
            gridTextFamily: "Open Sans",
            gridTextSize: 10
          };
        $.ajax({
            method:'GET',
            url: "@routes.Dashboard.getOrderProducts()?dateRange=@dateRange",
            data:{},
        }).success(function(response) {
          var data = [];
          JSON.parse(response).result.forEach(function(elem,index){
            var obj = {};
            obj.y = elem._id.year+'-'+elem._id.month+'-'+elem._id.day ;
            obj.quantidade = elem.quantity;
            data.push(obj);

          });
          options.data = data;
          var line = new Morris.Line(options);

        }).error(function() {
            alert("Erro on update!")
        });
      

         //-------------
        //- END Line CHART -
        //-------------
      

         //-------------
        //- Line CHART -
        //-------------
        var options2 = {
            element: 'line-chart-faturamento',
            resize: true,
            data: [
            ],
            xLabels:'day',
            xkey: 'y',
            ykeys: ['vendas' ],
            labels: ['Faturamento'],
            lineColors: ['#efefef'],
            lineWidth: 2,
            hideHover: 'auto',
            hoverCallback: hoverCallbackMoney,
            gridTextColor: "#fff",
            gridStrokeWidth: 0.4,
            pointSize: 4,
            pointStrokeColors: ["#efefef"],
            gridLineColor: "#efefef",
            gridTextFamily: "Open Sans",
            gridTextSize: 10
          };
        $.ajax({
            method:'GET',
            url: "@routes.Dashboard.getOrderProductsFaturamento()?dateRange=@dateRange",
            data:{},
        }).success(function(response) {
          var data = [];
          JSON.parse(response).result.forEach(function(elem,index){
            var obj = {};
            obj.y = elem._id.year+'-'+elem._id.month+'-'+elem._id.day ;
            obj.vendas = elem.total;
            data.push(obj);
          });
          options2.data = data;
          var line = new Morris.Line(options2);

        }).error(function() {
            alert("Erro on update!")
        });
      

         //-------------
        //- END Line CHART -
        //-------------
      
        //-------------
        //- PIE CHART -
        //-------------
        // Get context with jQuery - using jQuery's .get() method.
        var pieChartCanvas = $("#camisasPorTamanhoPieChart").get(0).getContext("2d");
        var pieChart = new Chart(pieChartCanvas);
        
          
        var PieData = [
        ];
        var pieOptions = {
          //Boolean - Whether we should show a stroke on each segment
          segmentShowStroke: true,
          //String - The colour of each segment stroke
          segmentStrokeColor: "#fff",
          //Number - The width of each segment stroke
          segmentStrokeWidth: 1,
          //Number - The percentage of the chart that we cut out of the middle
          percentageInnerCutout: 50, // This is 0 for Pie charts
          //Number - Amount of animation steps
          animationSteps: 100,
          //String - Animation easing effect
          animationEasing: "easeOutBounce",
          //Boolean - Whether we animate the rotation of the Doughnut
          animateRotate: true,
          //Boolean - Whether we animate scaling the Doughnut from the centre
          animateScale: false,
          //Boolean - whether to make the chart responsive to window resizing
          responsive: true,
          // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
          maintainAspectRatio: false,
          //String - A legend template
          legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>",
          //String - A tooltip template
          tooltipTemplate: "Tamanho: <%=value %> <%=label%> "
        };
        //Create pie or douhnut chart
        // You can switch between pie and douhnut using the method below.  
        $.ajax({
            method:'GET',
            url: "@routes.Dashboard.getOrderSizeCount()?dateRange=@dateRange",
            data:{},
        }).success(function(data) {
          JSON.parse(data).result.forEach(function(elem,index){
            var obj = {};
            obj.value = elem.quantity;
            obj.label = elem._id;
            obj.color = color[index%6];
            obj.highlight = color[index%6];
            PieData.push(obj);
          });
          pieChart.Doughnut(PieData, pieOptions);
        }).error(function() {
            alert("Erro on update!")
        });
        //-----------------
        //- END PIE CHART -
        //-----------------




                //-------------
        //- PIE CHART -
        //-------------
        // Get context with jQuery - using jQuery's .get() method.
        var pieChartCanvas2 = $("#camisasPorTipoPieChart").get(0).getContext("2d");
        var pieChart2 = new Chart(pieChartCanvas2);
        
          
        var PieData2 = [
        ];
        var pieOptions2 = {
          //Boolean - Whether we should show a stroke on each segment
          segmentShowStroke: true,
          //String - The colour of each segment stroke
          segmentStrokeColor: "#fff",
          //Number - The width of each segment stroke
          segmentStrokeWidth: 1,
          //Number - The percentage of the chart that we cut out of the middle
          percentageInnerCutout: 50, // This is 0 for Pie charts
          //Number - Amount of animation steps
          animationSteps: 100,
          //String - Animation easing effect
          animationEasing: "easeOutBounce",
          //Boolean - Whether we animate the rotation of the Doughnut
          animateRotate: true,
          //Boolean - Whether we animate scaling the Doughnut from the centre
          animateScale: false,
          //Boolean - whether to make the chart responsive to window resizing
          responsive: true,
          // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
          maintainAspectRatio: false,
          //String - A legend template
          legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>",
          //String - A tooltip template
          tooltipTemplate: "Modelo: <%=label%> <%=value %>  "
        };
        //Create pie or douhnut chart
        // You can switch between pie and douhnut using the method below.  
        $.ajax({
            method:'GET',
            url: "@routes.Dashboard.getOrderTypeCount()?dateRange=@dateRange",
            data:{},
        }).success(function(data) {
          JSON.parse(data).result.forEach(function(elem,index){
            var obj = {};
            obj.value = elem.quantity;
            obj.label = elem._id+"";
            obj.color = color[index%6];
            obj.highlight = color[index%6];
            PieData2.push(obj);
          });
          pieChart2.Doughnut(PieData2, pieOptions2);
        }).error(function() {
            alert("Erro on update!")
        });
        //-----------------
        //- END PIE CHART -
        //-----------------



                        //-------------
        //- PIE CHART -
        //-------------
        // Get context with jQuery - using jQuery's .get() method.
        var pieChartCanvas3 = $("#camisasPorGeneroPieChart").get(0).getContext("2d");
        var pieChart3 = new Chart(pieChartCanvas3);
        
          
        var PieData3 = [
        ];
        var pieOptions3 = {
          //Boolean - Whether we should show a stroke on each segment
          segmentShowStroke: true,
          //String - The colour of each segment stroke
          segmentStrokeColor: "#fff",
          //Number - The width of each segment stroke
          segmentStrokeWidth: 1,
          //Number - The percentage of the chart that we cut out of the middle
          percentageInnerCutout: 50, // This is 0 for Pie charts
          //Number - Amount of animation steps
          animationSteps: 100,
          //String - Animation easing effect
          animationEasing: "easeOutBounce",
          //Boolean - Whether we animate the rotation of the Doughnut
          animateRotate: true,
          //Boolean - Whether we animate scaling the Doughnut from the centre
          animateScale: false,
          //Boolean - whether to make the chart responsive to window resizing
          responsive: true,
          // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
          maintainAspectRatio: false,
          //String - A legend template
          legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>",
          //String - A tooltip template
          tooltipTemplate: "camisas <%=value %> <%=label%> "
        };
        //Create pie or douhnut chart
        // You can switch between pie and douhnut using the method below.  
        $.ajax({
            method:'GET',
            url: "@routes.Dashboard.getOrderGenderCount()?dateRange=@dateRange",
            data:{},
        }).success(function(data) {
          JSON.parse(data).result.forEach(function(elem,index){
            var obj = {};
            obj.value = elem.quantity;
            obj.label = elem._id;
            obj.color = color[index%6];
            obj.highlight = color[index%6];
            PieData3.push(obj);
          });
          pieChart3.Doughnut(PieData3, pieOptions3);
        }).error(function() {
            alert("Erro on update!")
        });
        //-----------------
        //- END PIE CHART -
        //-----------------
        

        });


</script>
   }
