@(order:models.Order,status:models.StatusOrder)
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <body class="skin-blue sidebar-mini">
    <div class="wrapper">
        <br/>
        @if(status!=null){
            Sua compra foi processada com o status @status.getStatus.name()
        }else{
            Recebemos seu pedido, aguarde nosso contato!
        }
        <br/>
        Acompanhe seu pedido pelo link: <a href="http://www.musicamise.com.br/#!/checkorder?id=@order.getId()"> Status da Compra </a> <br/>
        @if(order.getStatusEntrega()!=null){
            Seu status de entrega é @order.getStatusEntrega().<br/>
        }
        <br/>
        Comprador do Pagseguro:
        <br/>
        @order.getPagSeguroInfo.toString()
        <br/>
        Order:
        <br/>
        @order.toString()
        <br/>
    </div><!-- ./wrapper -->
  </body>
</html>
