@(inventory:models.Inventory,products:List[models.Product],genders:List[models.Collection])
@import helper._
@index{
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Inventory New/Edit
        <small>Panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@routes.InventoryController.listInventory"><i class="fa fa-dashboard"></i> Inventory List</a></li>
        <li class="active">Inventory</li>
    </ol>
</section>

        <!-- Main content -->
        <section class="content">
          <!-- Small boxes (Stat box) -->
            <div class="row">
            <!-- left column -->
            <div class="col-md-6">
              <!-- general form elements -->
              <div class="box box-primary">
                <div class="box-header">
                  <h3 class="box-title">Inventory Overview</h3>
                    <br/><p class="text-red">@flash.get("inventory")</p>

                </div><!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="POST" @if(inventory!=null){
                  action="@routes.InventoryController.saveInventory(inventory.getSku())"
                  } else  {action="@routes.InventoryController.saveInventory()"}
                  >
                  @CSRF.formField

                  <div class="box-body">


                      <div class="form-group">
                          <label >Product @if(inventory!=null){NO CHANGE}</label>
                          <select  name="product" data-placeholder="Chose the product" style="width: 350px; display: none;"  class="chosen-select-width" tabindex="-1">
                              @if(inventory!=null&&inventory.getProduct!=null&&inventory.getProduct.getId!=null){
                                @for(product<- products){
                                  @if(product.getId.equals(inventory.getProduct.getId)){
                                    <option selected="" value="@product.getId" >@product.getTitle</option>
                                  }
                                }
                              }else{
                                <option value=""></option>
                                @for(product<- products){
                                <option  value="@product.getId" >@product.getTitle</option>
                                }
                              }
                              
                          </select>
                      </div>

                      <label >Visibility</label>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="outOfStock" @if(inventory.isOrderOutOfStock){checked=""}  > Out of Stock
                        </label>
                      </div>

                       <div class="form-group">
                          <label >Recheio  @if(inventory!=null){NO CHANGE}</label>
                          <select  name="gender" data-placeholder="Chose the Gender" style="width: 350px; display: none;"  class="chosen-select-width" tabindex="-1">
                             @if(inventory!=null&&inventory.getRecheio!=null){
                                @for(recheioType<- Utils.ProductRecheioType.getList){
                                  @if(recheioType.equals(inventory.getRecheio)){
                                    <option selected="" value="@inventory.getRecheio">@inventory.getRecheio</option>
                                  }
                                }
                             }else{
                                <option value=""></option>
                                @for(recheioType<- Utils.ProductRecheioType.getList){
                                  <option @if(recheioType.equals(inventory.getRecheio)){selected=""} value="@recheioType">@recheioType</option>
                                }
                             }
                          </select>
                      </div>
                      <div class="form-group">
                          <label >Tipo de flor @if(inventory!=null){NO CHANGE}</label>
                          <select name="productType" data-placeholder="Chose the tages" style="width: 350px; display: none;"  class="chosen-select-width" tabindex="-1">
                             @if(inventory!=null&&inventory.getType!=null){
                                @for(productType<- Utils.ProductType.getList){
                                  @if(productType.equals(inventory.getType)){
                                    <option selected="" value="@inventory.getType">@inventory.getType</option>
                                  }
                                }
                             }else{
                                <option value=""></option>
                                @for(productType<- Utils.ProductType.getList){
                                  <option @if(productType.equals(inventory.getType)){selected=""} value="@productType">@productType</option>
                                }
                             }
                              
                          </select>
                      </div>
                      <div class="form-group">
                          <label >Estruturas </label>
                          <select name="productType" data-placeholder="Chose the tages" style="width: 350px; display: none;"  class="chosen-select-width" tabindex="-1">
                            <option value=""></option>
                            @for(struct<- Utils.ProductStruct.getList){
                              <option value="@struct">@struct</option>
                            }
                          </select>
                          <div id="colorPicker"></div>
                          <div class="input-group">
                          <span @if(inventory.getColor!=null){
                                style="background-color:@inventory.getColor;"
                                }
                              id="color" class="input-group-addon"></span>
                          <input disabled="" type="text" id="colorRGB"  value="@inventory.getColor"  class="form-control"/>
                          <input  type="hidden" name="color" id="colorRGBValue"  value="@inventory.getColor"  class="form-control"/>
                          </div>
                      </div>

                      <div class="form-group">
                          <label for="quantity">Quantity</label><br/>
                          <input type="text" class="" id="quantity" name="quantity" value="@inventory.getQuantity" placeholder="Quantity">
                      </div>
                      <div class="checkbox">
                          <label>
                              <input type="checkbox" name="sellInOutOfStock" @if(inventory.isSellInOutOfStock){checked=""}> Sell in Out of Stock
                          </label>
                      </div>

                  </div><!-- /.box-body -->

                  <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div><!-- /.box -->

              <!-- Form Element sizes -->
            </div><!--/.col (left) -->
              <!-- right column -->
          </div>   <!-- /.row -->
        </section><!-- /.content -->
<!-- jQuery 2.1.4 -->
<script src="@routes.Assets.at("plugins/jQuery/jQuery-2.1.4.min.js")"></script>
<style type="text/css">
  
  .ColorBlotch {
    border: 1px solid #000000;
    padding: 0 2px 0 2px;
    font-family: monospace;
    cursor: pointer;
    font-size: 1.2em;
  }

</style>
<script type="text/javascript">
     $(document).ready(function() {
             $("li" ).removeClass("active")
             $(".treeview" ).addClass("active");

             $('#colorPicker').empty().addColorPicker({
                clickCallback: function(c) {
                  $('#color').css('background-color',c);
                  $('#colorRGB').val(c);
                  $('#colorRGBValue').val(c);

                  
                }
              });
            $("#li-inventory" ).addClass("active");
        });

        $(function() {
            $(".price").maskMoney({prefix:' ', thousands:'.', decimal:',', affixesStay: true});
            $('#quantity').maskMoney({prefix:' ', thousands:'.', decimal:',',precision:0, affixesStay: true});

            var spinner = $( "#quantity" ).spinner();

        });

</script>
}
