@(order:models.Order,inventories:List[models.Inventory],users:List[models.User],discountCodes:List[models.DiscountCode],giftCards:List[models.GiftCard])
@import helper._
@index{ <!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Order Overall</h3>
                    <br/><p class="text-red">@flash.get("order")</p>

                </div><!-- /.box-header -->
                <!-- form start -->

                <div class="box-body">
                @if(order.getId==null){
                    <form role="form" id="myForm" method="POST" action="@routes.OrderController.saveOrder()"
                    >
                }
                <div class="box-body">
                    @CSRF.formField
     
                    
                    <div id ="productsContainer" class="box-body">
                        <div class="form-group">
                            <label >Product </label>
                             <select name="product"  data-placeholder="Chose the product" style="width: 350px; display: none;"  class="product chosen-select-width" tabindex="-1">
                              <option value=""></option>
                              @for(inventorie<- inventories){
                              <option  value="@inventorie.getSku" price="@inventorie.getProduct.getPrice" >@inventorie.getProduct.getTitle /R$ @inventorie.getProduct.getPrice /  @inventorie.getSize / @inventorie.getGenderSlug / @inventorie.getType/ @inventorie.getQuantity</option>
                              }
                            </select>
                            <input type="text" style="width:70px;" class="quantity" name="quantity" value="" placeholder="Quantity">
                        </div>
                    </div>
                     <button id="addProductButton" type="button" onClick="addProduct();" class="btn btn-secondary">Add New Product</button>

                    <div class="form-group">
                        <label >User</label>
                        <select name="user" data-placeholder="Chose the user receiver" style="width: 350px; display: none;"  class="chosen-select-width" tabindex="-1">
                            <option value=""></option>
                            @for(user<- users){
                                <option value="@user.getId" >@user.getFullName - @user.getEmail</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                          <label >Email</label>
                          <input type="text" class="form-control" name="email" value="" placeholder="Enter Title">
                    </div>

                    <div class="form-group">
                        <label >GiftCard</label>
                        <select name="giftCard" data-placeholder="Chose the product" style="width: 350px; display: none;"  class="chosen-select-width" tabindex="-1">
                              <option value=""></option>
                              @for(giftCard<- giftCards){
                              <option  value="@giftCard.getCode" >@giftCard.toString</option>
                              }
                        </select>
                    </div>

                    <div class="form-group">
                        <label >DiscountCode</label>
                        <select name="discountCode" id="discountCode" data-placeholder="Chose the product" style="width: 350px; display: none;"  class="chosen-select-width" tabindex="-1">
                              <option value="none">none</option>
                              @for(discountCode<- discountCodes){
                              <option  value="@discountCode.getCode" >@discountCode.toString</option>
                              }
                        </select>
                    </div>
                    <div class="form-group">
                        <label >Notas</label>
                        <textarea id="notes" name="notes"  value="" rows="10" cols="80">
                        </textarea>
                    </div>
                    <div class="form-group">
                        <label >Valor de entrega</label>
                          <input type="text" id="shippingCost"  name="shippingCost"  value=""  class="price form-control">
                    </div>
                    <div class="form-group">
                        <label >Desconto manual</label>
                        <input type="text" id="manualDiscount"  name="manualDiscount"  value=""  class="price form-control">
                    </div>

                    <div class="form-group">
                        <label >Total</label>
                        <input name="total" id="total" disabled="" type="text" class="price form-control"  placeholder="Total Value" value="" > 
                    </div>
                    <div class="form-group">
                        <label >Total do Desconto</label>
                        <input name="totalDesconto" id="totalDesconto" disabled="" type="text" class="price form-control"  placeholder="Total Value" value="" > 
                    </div>
                    <div class="form-group">
                        <label >Status</label>
                       <select name="status" data-placeholder="Chose the product" style="width: 350px; display: none;"  class="chosen-select-width" tabindex="-1">
                              <option value=""></option>
                              @for(status<- Utils.StatusCompra.values){
                              <option  value="@status.code" >@status.name()</option>
                              }
                        </select>
                    </div>
                    <div class="form-group">
                        <label >Status De Entrega</label>
                       <select name="statusEntrega" data-placeholder="Chose the product" style="width: 350px; display: none;"  class="chosen-select-width" tabindex="-1">
                              <option value=""></option>
                              @for(status<- Utils.StatusEntrega.values){
                              <option  value="@status.code" >@status.name()</option>
                              }
                        </select>
                    </div>

                </div><!-- /.box-body -->

                @if(order.getId==null){
                    <div class="box-footer">
                        <button type="button" onClick="sendForm();"  class="btn btn-primary">Submit</button>
                    </div>
                    </form>
                }
                </div><!-- /.box-body -->


            </div><!-- /.box -->

            <!-- Form Element sizes -->
        </div><!--/.col (left) -->
        <!-- right column -->
    </div>   <!-- /.row -->
</section><!-- /.content -->
<!-- jQuery 2.1.4 -->
<script src="@routes.Assets.at("plugins/jQuery/jQuery-2.1.4.min.js")"></script>

<script type="text/javascript">
    
    function sendForm(){
            $.each($(".price"),function(index,item){
               item.value = $('.price').maskMoney('unmasked')[index];
            });
            document.getElementById("myForm").submit();
    }

    function updatePrice(){
        if(this.parentNode.getElementsByClassName("quantity").item()){
          var quantityValue = this.parentNode.getElementsByClassName("quantity").item().value;
          if(quantityValue===""){
            this.parentNode.getElementsByClassName("quantity").item().value = 1;
          }
        }

        var product = [];
        $('.product option:selected').each(function(){
              var quantity = $(this.parentElement.parentElement).find('.quantity').val();
              product.push(this.value+"-"+quantity);
        });


         var discountCodeId = $("#discountCode").chosen().val();
        $.ajax({
          method: "POST",
          url: "@routes.OrderController.calculatePrice()",
          data: { product:product, discountCodeId: discountCodeId }
        }).success(function( data ) {
              $("#total").val(data.total);
              $("#totalDesconto").val(data.totalDiscount);
              $(".price").maskMoney('mask');

        }).error(function(msg){
               alert(msg.responseText);
        });

         var productAlready = [];
          $('.product option:selected').each(function(){
                productAlready.push(this.value);
          });

        if(inventoriesJS.length === productAlready.length){
          $("#addProductButton").hide();
          $("#addProductButton").attr('disabled',true);

        }else{
          $("#addProductButton").attr('disabled',false);
        }
    }

     $(document).ready(function() {


        $("li" ).removeClass("active");
        $("#li-orders" ).addClass("active");
        $("#addProductButton").attr('disabled',true);

        var total = 0;
        $('.product').chosen().change(updatePrice);
        $('#discountCode').chosen().change(updatePrice);
    
        $('.quantity').change(updatePrice);

        });

        $(function() {
            $(".price").maskMoney({prefix:'R$ ', thousands:'.', decimal:',', affixesStay: true});

            $('.quantity').maskMoney({prefix:' ', thousands:'.', decimal:',',precision:0, affixesStay: true});
              var spinner = $( ".quantity" ).spinner();

            for (var selector in config) {
              $(selector).chosen(config[selector]);
            }

        });


      var inventoriesJS = {};


    function addProduct(){
      @for(inventorie<- inventories){
        inventoriesJS['@inventorie.getSku']="<option  value='@inventorie.getSku' price='@inventorie.getProduct.getPrice' >@inventorie.getProduct.getTitle/R$ @inventorie.getProduct.getPrice  / @inventorie.getSize / @inventorie.getGenderSlug /@inventorie.getType/ @inventorie.getQuantity</option>";
      }
      var productAlready = [];
      $('.product option:selected').each(function(){
            productAlready.push(this.value);
      });

      var productContainer = "<div class='form-group'>\
                          <label >Product </label>\
                          <select name='product' data-placeholder='Chose the product' style='width: 350px; display: none;'   class='product chosen-select-width' tabindex='-1'>\
                              <option value=''></option>";
            
      Object.keys(inventoriesJS).forEach(function(key){
          console.log(key)
          if(($.inArray(key, productAlready))<0){
              productContainer+= inventoriesJS[key];
          }
      }); 
                                

      productContainer += "</select>\
                          <input type='text' style='width:70px;' id='quantity' class='quantity' name='quantity' value='' placeholder='Quantity'>\
                          </div>";



        $('.product option').attr('disabled',true); 
        $('.product option:selected').attr('disabled',false);
        $('.product').prop('disabled', false).trigger("chosen:updated");

        $("#productsContainer").append(productContainer);
        $('.quantity').maskMoney({prefix:' ', thousands:'.', decimal:',',precision:0, affixesStay: true});
        var spinner = $( ".quantity" ).spinner();

        for (var selector in config) {
          $(selector).chosen(config[selector]);
        }

        $('.product').chosen().change(updatePrice);

        $('.quantity').change(updatePrice);
        
 
        $("#addProductButton").attr('disabled',true);

    }
 
</script>

}